#dboard {
    width: 100%;
}

#grafiky {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.viz {
    width: 45%;
}

#stats {
    font-size: 14pt;
}

@media only screen and (max-width: 600px) {
    .viz {
        width: 100%;
    }
  }

.select2-results__option {
    background-image: none !important;
}