#dboard {
    width: 100%;
    height: 50vh;
}

#grafiky {
    width: 100%;
    height: 100%;
    display: flex;
}

#regiony {
    max-height: 100%;
    width: 45%;
}

#gender {
    max-height: 100%;
    width: 45%;
}